In [2]:
import os
os.getcwd()

'C:\\Users\\hp\\Take Lesson'

In [ ]:
##相对路径下读取问文件
with open('haha.txt','r') as f:
    f.readlines(

In [6]:
##绝对路径下去读取文件
import pandas as pd
data1=pd.read_excel(r'C:\徐毅铭\微信\WeChat Files\wxid_m12tglsh6tqp22\FileStorage\File\2020-06\四省成交金额.xlsx')
data2=pd.read_excel(r'C:\徐毅铭\微信\WeChat Files\wxid_m12tglsh6tqp22\FileStorage\File\2020-06\四省商品比例.xlsx')

In [7]:
data2

   用户名  年龄  家居家电     美妆   服装   食品  成交总金额   省份   成交时间
0   小胡  35   140    0.0  580  160    880  湖南省  11.11
1   小楠  19    40  120.0  230   90    480  湖南省  11.13
2   小刘  27    30  340.0  690  230   1290  湖南省  11.15
3   小赵  23     0    NaN  320  190    870  湖南省  11.11
4   小孙  43   120  260.0  450  140    970  湖南省  11.12
5   小珊  24    50  540.0  790  180   1560  山东省  11.14
6   小东  42   340  230.0  450    0   1120  山东省  11.14
7   小李  28  1210    0.0  960  250   2420  山东省  11.13
8   小王  25   130  340.0  650  230   1350  山东省  11.11
9   小张  18   100  240.0  290  180    810  山东省  11.13
10  小杨  23   110  270.0  190  140    710  湖北省  11.12
11  小千  19    80  120.0  200  130    530  湖北省  11.13
12  小西  34     0  320.0  210  180    710  湖北省  11.11
13  小胡  46   220  140.0  350  130    840  湖北省  11.11
14  小虎  28   100  230.0  430  120    880  湖北省  11.15
15  小云  20   250  180.0  240  120    790  云南省  11.11
16  小南  36    50  100.0   90   80    320  云南省  11.12
17  小周  39   160  100.0   90  100    450  云南省  11.11
18  小钱  25   110  170.0  350  240    870  云南省  11.15
19  小吴  43   150  120.0  240  160    670  云南省  11.14

In [ ]:
##相对路径
##绝对路径

In [13]:
name = ['用户名','年龄','省份','成交总金额','成交时间']
data = pd.concat([data1[name],data2[name]],axis=0)

In [44]:
##iloc只能通过位置编号取数据  对于列索引 去首不取尾
##loc 只能通过位置标签取数据 对于列索引 取首取尾
data.iloc[2:4,1:3]

   年龄   省份
2  20  广东省
3  35  广东省

In [42]:
data.loc[3:6,'用户名':'省份']

  用户名  年龄   省份
3  小胖  35  广东省
4  小亮  42  广东省
5  小四  34  四川省
6  小川  41  四川省

In [43]:
data

   用户名  年龄   省份   成交总金额   成交时间
0   小广  19  广东省   460.0  11.11
1   小董  26  广东省   670.0  11.13
2   小易  20  广东省     NaN  11.15
3   小胖  35  广东省   690.0  11.11
4   小亮  42  广东省   380.0  11.12
5   小四  34  四川省  1230.0  11.14
6   小川  41  四川省   650.0  11.14
7   小秦  27  四川省   580.0  11.13
8   小岳  22  四川省   870.0  11.11
9   小于  24  四川省   900.0  11.13
10  小云  20  云南省   790.0  11.12
11  小南  36  云南省   320.0  11.13
12  小周  39  云南省   450.0  11.11
13  小钱  25  云南省   870.0  11.11
14  小吴  43  云南省   670.0  11.15
15  小红  19  广西省   470.0  11.11
16  小刚  34  广西省   260.0  11.12
17  小丽  24  广西省   540.0  11.11
18  小图  42  广西省   220.0  11.15
19  小壮  20  广西省   430.0  11.14
20  小胡  35  湖南省   880.0  11.11
21  小楠  19  湖南省   480.0  11.13
22  小刘  27  湖南省  1290.0  11.15
23  小赵  23  湖南省   870.0  11.11
24  小孙  43  湖南省   970.0  11.12
25  小珊  24  山东省  1560.0  11.14
26  小东  42  山东省  1120.0  11.14
27  小李  28  山东省  2420.0  11.13
28  小王  25  山东省  1350.0  11.11
29  小张  18  山东省   810.0  11.13
30  小杨  23  湖北省   710.0  11.12
31  小千  19  湖北省   530.0  11.13
32  小西  34  湖北省   710.0  11.11
33  小胡  46  湖北省   840.0  11.11
34  小虎  28  湖北省   880.0  11.15
35  小云  20  云南省   790.0  11.11
36  小南  36  云南省   320.0  11.12
37  小周  39  云南省   450.0  11.11
38  小钱  25  云南省   870.0  11.15
39  小吴  43  云南省   670.0  11.14

In [30]:
import numpy as np
data.index = np.arange(0,len(data))

In [46]:
data.loc[2:3,'省份']

2    广东省
3    广东省
Name: 省份, dtype: object

In [36]:
data.iloc[2:3,1:3]

   年龄   省份
2  20  广东省

In [49]:
##字典
a={'word':'单词','red':"红色",'yellow':'黄色'}
a
##添加上 orange 橙子

{'word': '单词', 'red': '红色', 'yellow': '黄色'}

In [60]:
a['orange'] = '橙子'
a

{'word': '单词', 'red': '红色', 'yellow': '黄色', 'orange': '橙子'}

In [63]:
##把dict里面的的orange换成橙色
a['orange'] = '橙色'

In [64]:
a

{'word': '单词', 'red': '红色', 'yellow': '黄色', 'orange': '橙色'}

In [ ]:
for

In [59]:
a.append('orange','橙子')

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
for ** in ???

In [ ]:
##不断的输入 如果输入是Y 就继续输入 如果是输入是N 则不再输入

In [66]:
a={'word':'单词','red':"红色",'yellow':'黄色'}
while True:
    N=input('Y/N')
    if N == 'Y':
        one=input('key ')
        two=input('value ')
        a[one] = two
        print(a)
    if N == 'N':
        break

Y/NY
key blue
value 蓝色
{'word': '单词', 'red': '红色', 'yellow': '黄色', 'blue': '蓝色'}
Y/NN

In [ ]:
5*x + 3*y + z/3 = 100

In [70]:
for x in range(0,21):
    for y in range(0,34):
        for z in range(0,301):
            if 5*x+3*y+(1/3)*z == 100 and x+y+z==100:
                print(x,y,z)

0 25 75
4 18 78
8 11 81
12 4 84

In [ ]:
x+y = 5
x+2y = 10

In [68]:
input('Value')

Value1234

'1234'

In [55]:
a.keys()

dict_keys(['word', 'red', 'yellow'])

In [56]:
a.values()

dict_values(['单词', '红色', '黄色'])

In [58]:
if 'red' in a.values():
    print('存在')

In [54]:
list_one = [1,2,3,4,5]
if 6 in list_one:
    print('存在')
else:
    print('No')

No

In [ ]:
##列表

In [ ]:
##元组